@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    top: 0 !important;
    position: static !important;
}

/* Evita que Google cambie el fondo o las fuentes */
.skiptranslate, 
#google_translate_element, 
.goog-te-banner-frame {
    display: none !important;
}

body > .skiptranslate {
    display: none !important;
}

/* Forzar que el fondo de tu app se mantenga */
html, body {
    background-color: white !important; /* O el color de tu diseño */
}